{% load i18n %}
<div id="footer" class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
                <p>
                    <a class="btn btn-light btn-sm" href=""><i class="fa fa-question-circle"></i> {% trans 'Support'%}</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
                <p>
                    copyright: <a href="{% url 'home' %}">enigmavssut.tech</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
                <p>
                    {% blocktrans %}Developed by: <a href="https://bagdigital.in/">Enigma</a>{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
